{% extends "base.html" %}
{% block content %}
<h2>About Me</h2>
<p>Short bio:Enthusiastic Python and Automation Developer with hands-on experience in building web applications,
automating workflows, and managing Linux servers. Skilled in Python, Django, and scripting with a strong
foundation in process automation, system monitoring, and cloud technologies. Passionate about leveraging
automation to enhance efficiency, accuracy, and scalability in enterprise environments. Linux admin with experience in servers, AWS, Docker, and Python development.</p>
{% endblock %}
